node_modules
*.log
.temp
vuepress
TODOs.md
dist
deploy
cypress/cucumber-json/
cypress/screenshots/
cypress/videos/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# System Files
.DS_Store
Thumbs.db
